/* So padding and border no longer increase width. */
* {
  box-sizing: border-box;
}
.header-container{
	width: 100%;
}

header{
	background: #428bca;
	text-align: center;
	font-size: xx-large;
	color: white;
	margin-top: 3%;
	margin-right: 29%;
}

.col-lg-12{
	margin-top: 3%;
}

.view-trip {
    font-size: large;
    font-weight: bold;
}

div#leave-time-min {
    background-color: #eee;
    font-size: large;
}

span {
	font-size: medium;
	font-weight: normal;
	background-color: #eee;
}

body {
	background-color: gray;
	padding: 1%;
}

button#sign-in-with-google-button {
    margin: 10%;
    font-size: large;
}

label {
	margin-bottom: 2%;
	margin-top: 1%;
}

.btn-primary {
	font-size: large;
	margin: 2%;
}

.btn-danger {
	font-size: large;
	margin-top: 0%;
}

.travel {
	margin-top: 4%;
}

.trip-id {
	display: none;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: large;
}

/* 
  These rules take effect when the browser's width
  is 641px or more.
*/
@media screen and (max-width: 768px) {
	
}

/* 
  These rules take effect when the browser's width
  is 640px or less.
*/
@media screen and (max-width: 640px) {


}