/* So padding and border no longer increase width. */
* {
  box-sizing: border-box;
}

.clickable-row:hover {
	background-color: red;
}

.btn {
	background-color: green;
}

/* 
  These rules take effect when the browser's width
  is 641px or more.
*/
@media screen and (max-width: 768px) {
	
}

/* 
  These rules take effect when the browser's width
  is 640px or less.
*/
@media screen and (max-width: 640px) {


}